# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# === Django ===
*.sqlite3
*.json
*.log
*.db

# === Node ===
node_modules/
dist/
build/
npm-debug.log
yarn-debug.log
yarn-error.log

# === Environment Files ===
.env
.env.*

# === VSCode ===
.vscode/

# === OS Junk ===
.DS_Store
Thumbs.db

git remote add origin https://github.com/Raashid-M/tasknest.git
git branch -M main
git push -u origin main